.border {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.hideChildren > div {
    display: none;
}

.colorBlue {
    background-color: blue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid black;
}
.colorGold {
    background-color: gold;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid black;
}
.colorGray {
    background-color: gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid black;
}
.colorWhite {
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid black;
}
.colorBlack {
    background-color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid black;
}