CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_PROJECT_KEY=
CTP_SCOPE=
CTP_REGION=

CONNECT_GCP_TOPIC_NAME_KEY=
CONNECT_GCP_PROJECT_ID_KEY=

AVALARA_ENV=
AVALARA_USERNAME=
AVALARA_PASSWORD=
AVALARA_COMPANY_CODE=