CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_PROJECT_KEY=
CTP_SCOPE=
CTP_REGION=

CONNECT_SERVICE_URL=

FRONTEND_API_KEY=
AVALARA_ENV=
AVALARA_USERNAME=
AVALARA_PASSWORD=
AVALARA_COMPANY_CODE=

CATEGORY_CUSTOM_TYPE_KEY=avalara-connector-category
SHIPPING_METHOD_CUSTOM_TYPE_KEY=avalara-connector-shipping-method
ORDER_CUSTOM_TYPE_KEY=avalara-connector-order
CUSTOMER_CUSTOM_TYPE_KEY=avalara-connector-customer
CUSTOM_LINE_ITEM_CUSTOM_TYPE_KEY=avalara-connector-custom-line-item

CATEGORY_CUSTOM_TYPE_NAME='Additional fields for category'
SHIPPING_METHOD_CUSTOM_TYPE_NAME='Additional fields for shipping method'
ORDER_CUSTOM_TYPE_NAME='Additional fields for order'
CUSTOMER_CUSTOM_TYPE_NAME='Additional fields for customer'
CUSTOM_LINE_ITEM_CUSTOM_TYPE_NAME='Additional fields for custom line item'
